<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Spotify music recommendations app </h1>
    <form method="post">
        <label for="playlist link">Playlist Link</label>
        <br>
        <input type="text" name="playlist link"
               placeholder="enter playlist link here"
               value="{{request.form['playlist link']}}">
        <br>

        <label for="playlist name">Playlist Name</label>
        <br>
        <input type="text" name="playlist name"
               placeholder="enter playlist name here"
               value="{{request.form['playlist name']}}">
        <br>

        <button type="submit">submit</button>
    </form>
</body>
</html>