<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>recommendations </h1>
    <div class="container text-center">
            <p>Listen to your new playlist </p>
        </div>

        <div class="text-center" style="text-align: center;margin: 17px 20% 50px;">
            <iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="800" height="600"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <div class="text-center" style="padding-top: 47px;">
            <a href="/">Go back home</a>
        </div>

        <script>
            window.onSpotifyWebPlaybackSDKReady = () => {
                // You can now initialize Spotify.Player and use the SDK
            };
        </script>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
</body>
</html>